

#canvas-wrapper {
    display: block;
    border:1px solid grey;
    background-color:#D4D0C8;
    margin-right: auto;
    margin-left: auto;

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    #canvas-wrapper {
        height: 600px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    #canvas-wrapper {
        height:500px;
        width: 400px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    #canvas-wrapper {

        height:700px;
        width: 700px;

    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    #canvas-wrapper {

        height:700px;
        width:850px;

    }
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}